{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="col-md-12">
    <h1 class="h1-title">Upload File</h1>
    <hr/>
</div>
<div class="col-md-12">
    {% crispy form %}
    {% csrf_token %}
</div>
{% endblock body %}